node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production

# macOS
.DS_Store

# Debug
*.log

# EAS
.eas/

# VS Code
.vscode/

# Android
*.apk
*.aab
android/app/build/
android/.gradle/

# iOS
ios/Pods/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
